<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Range Selection</h1>
		</div>
        <div class="col-lg-12">
			<div class="panel panel-default">
			  <div class="panel-body">
				<fieldset>
					<legend>Case Details:</legend>
					<div class="row">
						<div class="col-md-3">Subject:</div>
						<div class="col-md-9">Directive message - shows inline message</div>
					</div>
					<div class="row">
						<div class="col-md-3">Business Logic:</div>
						<div class="col-md-9">
							<ul>
								<li>If in All range, disable the second editbox</li>
								<li>Compare two strings, start = All, select 8 in start, update range from 8 to 8</li>
								<li>Compare two strings, start = 8, end = 8, select 4 in start, update range from 4 to 8</li>
								<li>Compare two strings, start = 4, end = 8, select 10 in end, update range from 4 to 10</li>
								<li>Compare two strings, start = 4, end = 10, select 3 in end, update range from 3 to 3</li>
								<li>Compare two strings, start = 3, end = 3, select 7 in start, update range from 7 to 7</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">Procedures: </div>
						<div class="col-md-9">
							<ol>
								<li>Input the Department Code</li>
								<li>Input the Description (optional)</li>
								<li>Input the Other Description (optional)</li>
								<li>Click the [Create] button</li>
							</ol>
						</div>
					</div>
				</fieldset>
			  </div>
			</div>
        </div>
        <div class="col-lg-12">
		<hr><br>
        </div>
		<div class="col-lg-12">
            <form>
                <fieldset>
                    <h4>Range Component</h4>
                    <div class="form-group">
                        <label class="col-sm-4">Department Range</label>
                        <div class="col-sm-8">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <range ng-model="deptRange">
                              <div class="form-inline">
                                <div class="form-group">
                                  <editbox ng-model="deptEditBoxStart" program-id="dw01dp" range="start" range-value="{{editboxCtrl.ngModel.DepartmentCode}}">
                                    <div class="input-group">
                                      <input class="form-control" type="text" id="card_cardID" ng-model="rangeCtrl.ngModel.start" readonly>
                                      <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="OpenPageView()"><i class="fa fa-bars"></i></button></span>
                                    </div>
                                  </editbox>
                                </div>
                                <div class="form-group">
                                  <editbox ng-model="deptEditBoxEnd" program-id="dw01dp" range="end" range-value="{{editboxCtrl.ngModel.DepartmentCode}}">
                                    <div class="input-group">
                                      <input class="form-control" type="text" id="card_cardID" ng-model="rangeCtrl.ngModel.end" readonly>
                                      <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="OpenPageView()"><i class="fa fa-bars"></i></button></span>
                                    </div>
                                  </editbox>
                                </div>
                                <div class="form-group">
                                    <label for="isAll">ALL in range</label>
                                    <input type="checkbox" ng-model="rangeCtrl.ngModel.isAll" id="isAll" class="form-control">
                                </div>
                              </div>
                            </range>
                        </div>
                    </div>
                </fieldset>
            </form>
            <h4>Range Component Object</h4>
            <div>{{deptRange | json}}</div>
		</div>
	</div>
	<!-- /.row -->
</div>