<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1>List and View Department</h1>
		</div>
        <div class="col-lg-12">
			<div class="panel panel-default">
			  <div class="panel-body">
				<fieldset>
					<legend>Case Details:</legend>
					<div class="row">
						<div class="col-md-3">Subject:</div>
						<div class="col-md-9">
							<p>Directive pageview, entry - list, view department record</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">Business Logic:</div>
						<div class="col-md-9">
							<ul>
								<li>Pageview auto loads the department records on start</li>
								<li>Select the department record on pageview</li>
								<li>The selected record will shows on entry</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">Procedures: </div>
						<div class="col-md-9">
							<ol>
								<li>Double click/point and select on the record to select it</li>
								<li>The record will shows on entry</li>
							</ol>
						</div>
					</div>
				</fieldset>
			  </div>
			</div>
        </div>
        <div class="col-lg-12">
		<hr><br>
        </div>
		<div class="col-lg-12">
			<div style="max-width: 750px;">
				<h4>Select a Department on Pageview</h4>
				<pageview ng-model="deptDataList" program-id="dw01dp">
				  <screen></screen>
				</pageview>
				<br>
				<h4>View Department on Entry</h4>
				<entry ng-model="entryForm" program-id="ds01dp" edit-mode="view">
				  <form ng-submit="SubmitData()">
					<fieldset>
					  <div class="form-group">
						<label for="inputDeptCode">Department Code</label>
						<input type="text" class="form-control" id="inputDeptCode" ng-model="entryCtrl.ngModel.DepartmentCode" readonly>
					  </div>
					  <div class="form-group">
						<label for="inputDescription">Description</label>
						<input type="text" class="form-control" id="inputDescription" ng-model="entryCtrl.ngModel.Description">
					  </div>
                      <div class="form-group">
                        <label for="inputOtherDesc">Other Description</label>
                        <input type="text" class="form-control" id="inputOtherDesc" ng-model="entryCtrl.ngModel.OtherDesc">
                      </div>
					</fieldset>
				  </form>
				</entry>
			</div>
		</div>
	</div>
	<!-- /.row -->
</div>