<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Amend Staff Profile</h1>
		</div>
        <div class="col-lg-12">
			<div class="panel panel-default">
			  <div class="panel-body">
				<fieldset>
					<legend>Case Details:</legend>
					<div class="row">
						<div class="col-md-3">Subject:</div>
						<div class="col-md-9">Directive entry, editbox - list, create staff record</div>
					</div>
					<div class="row">
						<div class="col-md-3">Business Logic:</div>
						<div class="col-md-9">
							<ul>
								<li>Select department record on start</li>
								<li>Shows department records if exits</li>
								<li>Select to the department record on pageview</li>
								<li>Entry display the selected record</li>
								<li>Refresh the pageview after deleted the record</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">Procedures: </div>
						<div class="col-md-9">
							<ol>
								<li>Single click/touch on the record to point it</li>
								<li>or Double click on the record to select it</li>
								<li>The record will shows on entry</li>
								<li>Preview/confirm that record</li>
								<li>Click the [Delete] button</li>
							</ol>
						</div>
					</div>
				</fieldset>
			  </div>
			</div>
        </div>
        <div class="col-lg-12">
		<hr><br>
        </div>
		<div class="col-lg-12">
			<div style="max-width: 750px;">
				<div class="panel panel-default">
				  <div class="panel-heading">Process Message</div>
				  <div class="panel-body">
					<message ng-model="processMsg" auto-close></message>
				  </div>
				</div>
				<h3>Select a Staff on Pageview</h3>
				<pageview ng-model="staffDataList" program-id="dw02sp">
				  <screen></screen>
				</pageview>
				<h3>Amend Staff on Entry</h3>
				<entry ng-model="entryForm" program-id="de02sp" edit-mode="amend">
					<form class="form-horizontal" ng-submit="SubmitData()">
					  <div class="form-group">
						<label class="col-sm-2 control-label" for="inputStaffID">Staff ID</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" id="inputStaffID" ng-model="entryForm.StaffID" readonly>
						</div>
					  </div>
					  <div class="form-group">
						<label class="col-sm-2 control-label" for="inputSurname">Surname</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" id="inputSurname" ng-model="entryForm.LastName">
						</div>
					  </div>
					  <div class="form-group">
						<label class="col-sm-2 control-label" for="inputGivenName">Given Name</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" id="inputGivenName" ng-model="entryForm.FirstName">
						</div>
					  </div>
					  <div class="form-group">
						<label class="col-sm-2 control-label" for="inputChiName">Chinese Name</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" id="inputChiName" ng-model="entryForm.ChineseName">
						</div>
					  </div>
					  <div class="form-group">
						<label class="col-sm-2 control-label" for="inputDeptCode">Department</label>
						<div class="col-sm-10">
						  <editbox ng-model="deptEditBox" program-id="dw01dp">
							<div class="input-group">
							  <input type="text" class="form-control" id="inputDeptCode" ng-model="entryForm.DeptCode" readonly>
							  <span class="input-group-btn">
								<button type="button" class="btn btn-default" aria-label="Edit List" ng-click="OpenPageView()">
								  <i class="fa fa-bars"></i>
								</button>
							  </span>
							  <input type="text" class="form-control" ng-model="deptEditBox.Description" readonly>
							</div>
						  </editbox>
						</div>
					  </div>
					  <div class="form-group">
						<label class="col-sm-2 control-label" for="inputDateOfBirth">Date of Birth</label>
						<div class="col-sm-10">
						  <input type="date" class="form-control" id="inputDateOfBirth" ng-model="entryForm.DateOfBirth">
						</div>
					  </div>
					  <div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmploymentDate">Employment Date</label>
						<div class="col-sm-10">
						  <input type="date" class="form-control" id="inputEmploymentDate" ng-model="entryForm.EmploymentDate">
						</div>
					  </div>
					  <div class="form-group">
						<button type="submit" class="col-sm-offset-2 btn btn-default">Update</button>
					  </div>
					</form>
				</entry>
			</div>
		</div>
	</div>
	<!-- /.row -->
</div>