<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="Home">AngularJS-CRUD-PHP 2 Demonstration</a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" href="../../doc/v2" lang="en">
            <i class="fa fa-book fa-fw" aria-hidden="true"></i> Docs
        </a>
    </li>
    <li class="dropdown">
        <span lang="en">
            <i class="fa fa-flask fa-fw" aria-hidden="true"></i> Demo
        </span>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" href="https://github.com/Otaku-Projects/AngularJS-CRUD-PHP" target="_blank" lang="en">
            <i class="fa fa-github fa-fw" aria-hidden="true"></i> View on GitHub
        </a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" href="https://github.com/dolphinotaku" target="_blank" lang="en">
            <i class="fa fa-user fa-fw" aria-hidden="true"></i> Author
        </a>
    </li>
    <!-- <li>
        <button class="btn btn-link" ng-click="switchLanguage('en')">English
        </button>
    </li>
    <li>
        <button class="btn btn-link" ng-click="switchLanguage('zh-hant')">繁</button>
    </li>
    <li>
        <button class="btn btn-link" ng-click="switchLanguage('zh-hans')">簡</button>
    </li> -->
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a ui-sref="Home" lang="en"><i class="fa fa-sign-in fa-fw fa-lg" aria-hidden="true"></i> Introduction to the Demo</a>
            </li>
			<li><div style="padding-bottom: 10px; padding-right: 15px; padding-top: 10px; padding-left: 5px;">AngularJS Service</div></li>
            <li>
                <a href="#" lang="en"><i class="fa fa-lock fa-fw fa-lg" aria-hidden="true"></i> Security - User Authentication<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
					<li>
						<a ui-sref="00login-logout" lang="en"><i class="fa fa-user-circle-o fa-fw fa-lg" aria-hidden="true"></i> Login, Logout, Redirect</a>
					</li>
                    <li>
                        <a ui-sref="" class="btn disabled" role="button">Login Redirect</a>
                    </li>
                    <li>
                        <a ui-sref="" class="btn disabled" role="button">Logout Redirect</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
			<li><div style="padding-bottom: 10px; padding-right: 15px; padding-top: 10px; padding-left: 5px;">AngularJS Directive</div></li>
            <li>
                <a href="#" lang="en"><i class="fa fa-battery-0 fa-fw fa-lg" aria-hidden="true"></i> Directive Usage<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="21entry-create-master-data">&#x3C;entry&#x3E; - CRUD action</a>
                    </li>
                    <li>
                        <a ui-sref="22pageview-view-master-data">&#x3C;pageview&#x3E; - List Data</a>
                    </li>
                    <li>
                        <a ui-sref="23reusable-screen">&#x3C;screen&#x3E; - Reusable Screen</a>
                    </li>
                    <li>
                        <a ui-sref="24editbox">&#x3C;editbox&#x3E; - Select Foreign Key</a>
                    </li>
                    <li>
                        <a ui-sref="28display-inline-message">&#x3C;message&#x3E; - Display In-line Message</a>
                    </li>
                    <li>
                        <a ui-sref="25data-export">&#x3C;export&#x3E; - Export Data</a>
                    </li>
                    <li>
                        <a ui-sref="26data-upload">&#x3C;upload&#x3E; - Upload Data</a>
                    </li>
                    <li>
                        <a ui-sref="27data-import">&#x3C;import&#x3E; - Import Data</a>
                    </li>
                    <li>
                        <a ui-sref="29range-selection">&#x3C;range&#x3E; - Range Selection</a>
                    </li>
                    <li>
                        <a ui-sref="30data-inquiry">&#x3C;inquiry&#x3E; - Inquiry Data</a>
                    </li>
                    <li>
                        <a ui-sref="31data-process">&#x3C;process&#x3E; - Process Data</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
			<li><div style="padding-bottom: 10px; padding-right: 15px; padding-top: 10px; padding-left: 5px;">AngularJS Directive Combination</div></li>
            <li>
                <a href="#" lang="en"><i class="fa fa-battery-1 fa-fw fa-lg" aria-hidden="true"></i> Advance<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="41list-and-view-master-data" lang="en">List and View Department</a>
                    </li>
                    <li>
                        <a ui-sref="42list-and-amend-master-data">List and Amend Department</a>
                    </li>
                    <li>
                        <a ui-sref="43list-and-delete-master-data">List and Delete Department</a>
                    </li>
                    <li>
                        <a ui-sref="44create-staff-profile" lang="en">Create Staff Profile</a>
                    </li>
                    <li>
                        <a ui-sref="45list-and-view-staff-profile" lang="en">List and View Staff Profile</a>
                    </li>
                    <li>
                        <a ui-sref="46list-and-amend-staff-profile" lang="en">List and Amend Staff Profile</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
			<li><div style="padding-bottom: 10px; padding-right: 15px; padding-top: 10px; padding-left: 5px;">Third party</div></li>
            <li>
                <a href="#" lang="en"><i class="fa fa-battery-2 fa-fw fa-lg" aria-hidden="true"></i> Third party Visualization<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="" lang="en">Empty</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#" lang="en"><i class="fa fa-battery-3 fa-fw fa-lg" aria-hidden="true"></i> Customization Theme<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="" lang="en">Empty</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
			<li><div style="padding-bottom: 10px; padding-right: 15px; padding-top: 10px; padding-left: 5px;">Real Case - Dependency</div></li>
            <li>
                <a href="#" lang="en"><i class="fa fa-tasks fa-fw fa-lg" aria-hidden="true"></i> Master<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="rc-51-list-license-terms">License Terms</a>
                    </li>
                    <li>
                        <a ui-sref="rc-52-list-computer-language">Computer Language</a>
                    </li>
                    <li>
                        <a ui-sref="rc-53-list-repository">Repository</a>
                    </li>
                    <li>
                        <a ui-sref="rc-54-list-third-party">Third Party</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#" lang="en"><i class="fa fa-sitemap fa-fw fa-lg" aria-hidden="true"></i> Entry<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="rc-55-list-third-party">Third Party</a>
                    </li>
                    <li>
                        <a ui-sref="rc-56-list-computer-language">Third Party Release History</a>
                    </li>
                    <li>
                        <a ui-sref="rc-57-list-repository">Repository</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#" lang="en"><i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i> Process<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="rc-55-list-license-terms">Synchronize GitHub Release</a>
                    </li>
                    <li>
                        <a ui-sref="rc-56-list-computer-language">Generate Third-Party JSON</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#" lang="en"><i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i> Utility<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="rc-55-list-license-terms">Master Im/Ex</a>
                    </li>
                    <li>
                        <a ui-sref="rc-56-list-computer-language">Repository Im/Ex</a>
                    </li>
                    <li>
                        <a ui-sref="rc-56-list-computer-language">ThirdParty Im/Ex</a>
                    </li>
                    <li>
                        <a ui-sref="rc-56-list-computer-language">Archive DB</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->