<!doctype html>
<html><!-- InstanceBegin template="/Templates/basic-bootstrap.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Develop |</title>
<!-- InstanceEndEditable -->
<link rel="icon" type="image/png" href="images/logo48.png" />
<link rel="stylesheet" type="text/css" href="css/body.css">
<link rel="stylesheet" type="text/css" href="css/chrome.css">
<link rel="stylesheet" type="text/css" href="third-party/bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="third-party/font-awesome/font-awesome-4.5.0/css/font-awesome.min.css">
<script type="text/javascript" src="third-party/jQuery/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="third-party/jQuery/jquery.cookie-1.4.1.min.js"></script>
<script type="text/javascript" src="third-party/angularjs/angular-1.5.0/angular.min.js"></script>
<script type="text/javascript" src="third-party/angularjs/angular-1.5.0/angular-animate.min.js"></script>
<script type="text/javascript" src="third-party/angularjs/angular-1.5.0/angular-route.min.js"></script>
<script type="text/javascript" src="third-party/angularjs/angular-1.5.0/angular-touch.min.js"></script>
<script type="text/javascript" src="third-party/angularjs/angular-1.5.0/angular-cookies.min.js"></script>
<script type="text/javascript" src="third-party/bootstrap/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/directive.js"></script>
<script type="text/javascript" src="js/service.js"></script>
<script type="text/javascript" src="third-party/angularjs-ui/UI-Bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
<script type="text/javascript" src="third-party/Blob.js-master/Blob.js"></script>
<script type="text/javascript" src="third-party/FileSaver.js/FileSaver.js-1.3.2/FileSaver.min.js"></script>
<script src="third-party/ng-file-upload-12.2.12/demo/src/main/webapp/js/ng-file-upload-shim.js"></script>
<script src="third-party/ng-file-upload-12.2.12/demo/src/main/webapp/js/ng-file-upload.js"></script>
<!-- InstanceBeginEditable name="head" -->
<script>
// jQuery
$(function() {
	
});
</script>
<script>
"use strict";
app.run(function ($rootScope, $log, Security) {
	console.log("app.run at local page");
	//Security.GoToMenuIfSessionExists();
	Security.RequiresAuthorization();
});

app.controller('createCardController', ['$scope', 'Security', function ($scope, Security, $rootScope) {
	$scope.directiveScopeDict = {};
	$scope.directiveCtrlDict = {};
	function Initialize(){
		var entryForm = {};
		
		$scope.entryForm = entryForm;
	  //$scope.cardEditBox = {};
	  //$scope.cardTypeEditBox = {};
	  //$scope.spellClassEditBox = {};
	}
	Initialize();
	
	$scope.EventListener = function(scope, iElement, iAttrs, controller){
		console.log("<"+iElement[0].tagName+">" +" Directive overried EventListener()");
		var prgmID = scope.programId;
		if($scope.directiveScopeDict[prgmID] == null || typeof($scope.directiveScopeDict[prgmID]) == "undefined"){
		  $scope.directiveScopeDict[prgmID] = scope;
		  $scope.directiveCtrlDict[prgmID] = controller;
		}
		
//		console.dir(scope);
//		console.dir(iElement);
//		console.dir(iAttrs);
//		console.dir(controller);
		
		//http://api.jquery.com/Types/#Event
		//The standard events in the Document Object Model are:
		// blur, focus, load, resize, scroll, unload, beforeunload,
		// click, dblclick, mousedown, mouseup, mousemove, mouseover, mouseout, mouseenter, mouseleave,
		// change, select, submit, keydown, keypress, and keyup.
		iElement.ready(function() {
			
		})
	}
	
	$scope.SetDefaultValue = function(scope, iElement, iAttrs, controller){
		console.log("<"+iElement[0].tagName+">" +" Directive overried SetDefaultValue()");
		
		controller.ngModel.nameJpn = "";
		controller.ngModel.nameChi = "";
		controller.ngModel.nameEng = "";
		controller.ngModel.contentJpn = "";
		controller.ngModel.contentChi = "";
		controller.ngModel.contentEng = "";
	}
	
	$scope.StatusChange = function(fieldName, newValue, newObj, scope, iElement, iAttrs, controller){
		console.log("<"+iElement[0].tagName+">" +" Directive overried StatusChange()");
//		console.log(fieldName);
//		console.log(newValue);
		
		if(fieldName == "grade")
			newObj.grade = newObj.grade.toUpperCase(); 
	}
	
	$scope.ValidateBuffer = function(scope, iElement, iAttrs, controller){
		console.log("<"+iElement[0].tagName+">" +" Directive overried ValidateBuffer()");
		
		//controller.ngModel.DepartmentCode = "ABC"
		//controller.ngModel.DepartmentCode = 125
		
		return true;
	}
	$scope.IsLimitModelStrictWithSchema = function(scope, iElement, iAttrs, controller){
		return false;
	}
	
	
  $scope.CustomSelectedToRecord = function(sRecord, rowScope, scope, iElement, controller){
    console.log("<"+iElement[0].tagName+">" +" Directive overried CustomPointedToRecord()");

    var tagName = iElement[0].tagName.toLowerCase();
    var prgmID = scope.programId.toLowerCase();

    if(prgmID == "hw01ca"){
      // asign the selected record to ng-model
	  //$scope.directiveCtrlDict[prgmID].ngModel = sRecord;
	  $scope.directiveScopeDict[prgmID].SetNgModel(sRecord)
      $scope.entryForm.cardID = sRecord.cardID;
	  $scope.cardEditBox = sRecord;
    }

    if(prgmID == "hw01ct"){
      // asign the selected record to ng-model
	  //$scope.directiveCtrlDict[prgmID].ngModel = sRecord;
	  $scope.directiveScopeDict[prgmID].SetNgModel(sRecord)
      $scope.entryForm.cardTypeID = sRecord.cardTypeID;
	  $scope.cardTypeEditBox = sRecord;
    }

    if(prgmID == "hw01sc"){
      // asign the selected record to ng-model
	  //$scope.directiveCtrlDict[prgmID].ngModel = sRecord;
	  $scope.directiveScopeDict[prgmID].SetNgModel(sRecord)
      $scope.entryForm.spellClassID = sRecord.spellClassID;
	  $scope.spellClassEditBox = sRecord;
    }
  }
}]);
</script>
<!-- InstanceEndEditable -->
</head>

<body ng-app="myApp">
<div id="top">
  <div id="topBar"> <!-- InstanceBeginEditable name="topbar" --> <!-- InstanceEndEditable --> </div>
</div>
<!-- header start -->
<nav class="navbar navbar-default">
  <div class="container">
  <!-- InstanceBeginEditable name="header" -->
    <div class="navbar-header"> <a class="navbar-brand" href="#"> <img alt="Brand" width="20" src="images/download.png"> </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <p class="navbar-text">Development</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="main-menu.html">Home <span class="fa fa-home fa-lg"></span></a></li>
        <li><a href="#" logout>Logout <span class="fa fa-sign-out fa-lg"></span></a></li>
      </ul>
    </div>
  <!-- InstanceEndEditable -->
  </div>
</nav>
<!-- header end -->
<div class="container">
<!-- InstanceBeginEditable name="page-header" -->
<h1 class="page-header">Create Card</h1>
<!-- InstanceEndEditable -->
<!-- site position start --> 
<!-- InstanceBeginEditable name="position" -->
<div id="site_position">
    <ol class="breadcrumb">
      <li><a href="main-menu.html">Home</a></li>
    </ol>
</div>
<!-- InstanceEndEditable --> 
</div>
<!-- site position end --> 
<div class="container">
<!-- InstanceBeginEditable name="intro" -->
<div ng-controller="createCardController as createCardCtrl" style="max-width: 750px;">
	<h3>Create card</h3>
    <div>
    Greed Island中的100張指定卡片完整版<br>
    中文 <a href="http://forum.gamer.com.tw/C.php?bsn=01272&snA=9741" target="_blank">http://forum.gamer.com.tw/C.php?bsn=01272&snA=9741</a><br>
    英文 <a href="http://hunterxhunter.wikia.com/wiki/Greed_Island_Card_Lists" target="_blank">http://hunterxhunter.wikia.com/wiki/Greed_Island_Card_Lists</a><br>
    日文 <a href="http://hunter.noihjp.com/Greed-Island_Card/000-019.php" target="_blank">http://hunter.noihjp.com/Greed-Island_Card/000-019.php</a><br><br>
    簡體 <a href="http://tieba.baidu.com/p/3545341366" target="_blank">http://tieba.baidu.com/p/3545341366</a><br><br>
    漫畫資料︰<br>
    卡片使用說明 <a href="http://comic.sfacg.com/HTML/HunterXHunter/013j/#p=96" target="_blank">http://comic.sfacg.com/HTML/HunterXHunter/013j/#p=96</a><br>
    咒語卡 <a href="http://comic.sfacg.com/HTML/HunterXHunter/014j/#p=40" target="_blank">http://comic.sfacg.com/HTML/HunterXHunter/014j/#p=40</a><br><br>
    實體書︰<br>
    <a href="http://blogs.yahoo.co.jp/hayatosasaki147/33674166.html" target="_blank">http://blogs.yahoo.co.jp/hayatosasaki147/33674166.html</a>
    
    <entry ng-model="entryForm" program-id="hs01ca" edit-mode="create">
      <div class="well well-sm">
        <div ng-repeat="dspMsg in DisplayMessageList track by $index" ng-bind="dspMsg"></div>
      </div>
        <editbox ng-model="cardEditBox" program-id="hw01ca">
		  <div class="form-inline">
			<label for="card_cardID">Card ID</label>
            <div class="input-group">
              <input class="form-control" type="text" id="card_cardID" ng-model="entryForm.cardID" readonly>
              <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="OpenPageView()"><i class="fa fa-bars"></i></button></span>
            </div>
			<div class="form-group">
			  <label for="card_grade">Grade</label>
			  <input type="text" class="form-control input-sm" id="card_grade" ng-model="cardEditBox.grade" readonly>
			</div>
			<div class="form-group">
			  <label for="card_maxLimit">Limit</label>
			  <input type="text" class="form-control input-sm" id="card_maxLimit" ng-model="cardEditBox.maxLimit" readonly>
			</div>
		  </div>
        </editbox>
        <editbox ng-model="cardTypeEditBox" program-id="hw01ct">
		  <div class="form-inline">
			<label for="cardType_cardTypeID">Card Type</label>
            <div class="input-group">
              <input class="form-control" type="text" id="cardType_cardTypeID" ng-model="entryForm.cardTypeID" readonly>
              <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="OpenPageView()"><i class="fa fa-bars"></i></button></span>
            </div>
			<div class="form-group">
			  <label for="cardType_category">Category</label>
			  <input type="text" class="form-control input-sm" id="cardType_category" ng-model="cardTypeEditBox.category" readonly>
			</div>
		  </div>
			<div class="form-group">
			  <label for="cardType_description" class="sr-only">Description</label>
			  <input type="text" class="form-control input-sm sr-only" id="cardType_description" ng-model="cardTypeEditBox.description" readonly>
			  <textarea class="form-control" ng-model="cardTypeEditBox.description" readonly></textarea>
			</div>
        </editbox>
        <editbox ng-model="spellClassEditBox" program-id="hw01sc">
		  <div class="form-inline">
			<label for="spellClass_spellClassID">Spell Class</label>
            <div class="input-group">
              <input class="form-control" type="text" id="spellClass_spellClassID" ng-model="entryForm.spellClassID" readonly>
              <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="OpenPageView()"><i class="fa fa-bars"></i></button></span>
            </div>
			<div class="form-group">
			  <label for="spellClass_name">Name</label>
			  <input type="text" class="form-control input-sm" id="spellClass_name" ng-model="spellClassEditBox.name" readonly>
			</div>
		  </div>
			<div class="form-group">
			  <label for="spellClass_description" class="sr-only">Description</label>
			  <input type="text" class="form-control input-sm sr-only" id="spellClass_description" ng-model="spellClassEditBox.description" readonly>
			  <textarea class="form-control" ng-model="spellClassEditBox.description" readonly></textarea>
			</div>
        </editbox>
      <form ng-submit="SubmitData()">
        <fieldset>
          <div class="form-group" style="">
          {{entryForm | json}}
          </div>
          <div class="form-group">
            <label for="inputcardID">Card ID</label>
            <input type="text" class="form-control" id="inputcardID" ng-model="entryForm.cardID">
          </div>
          <div class="form-group">
            <label for="inputgrade">Grade</label>
            <input type="text" class="form-control" id="inputgrade" ng-model="entryForm.grade">
          </div>
          <div class="form-group">
            <label for="inputmaxLimit">Max Limit</label>
            <input type="number" class="form-control" id="inputmaxLimit" ng-model="entryForm.maxLimit">
          </div>
          <div class="form-group">
            <label for="inputnameJpn">Card Name (Japanese)</label>
            <input type="text" class="form-control" id="inputnameJpn" ng-model="entryForm.nameJpn">
          </div>
          <div class="form-group">
            <label for="inputnameChi">Card Name (Chinese)</label>
            <input type="text" class="form-control" id="inputnameChi" ng-model="entryForm.nameChi">
          </div>
          <div class="form-group">
            <label for="nameEng">Card Name (English)</label>
            <input type="text" class="form-control" id="nameEng" ng-model="entryForm.nameEng">
          </div>
          <div class="form-group">
            <label for="contentJpn">Card Content (Japanese)</label>
            <textarea type="text" class="form-control" id="contentJpn" ng-model="entryForm.contentJpn"></textarea>
          </div>
          <div class="form-group">
            <label for="contentChi">Card Content (Chinese)</label>
            <textarea type="text" class="form-control" id="contentChi" ng-model="entryForm.contentChi"></textarea>
          </div>
          <div class="form-group">
            <label for="contentEng">Card Content (English)</label>
            <textarea type="text" class="form-control" id="contentEng" ng-model="entryForm.contentEng"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Create</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default" ng-click="ResetForm()">Clear Form</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default" ng-click="ShowLoadModal()">Show Load Modal</button>
            <button type="button" class="btn btn-default" ng-click="HideLoadModal()">Hide Load Modal</button>
          </div>
        </fieldset>
      </form>
    </entry>
</div>
<!-- InstanceEndEditable -->
</div>
<div class="container" id="content"> <!-- InstanceBeginEditable name="content" -->
  <div id="vendorItem"> </div>
  <!-- InstanceEndEditable -->
  <div id="lasted_update"></div>
</div>
<div id="footer">
  <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>Copyright © MyCompany. All rights reserved.</p>
          </div>
        </div>
      </div>
  </footer>
</div>
</body>
<!-- InstanceEnd --></html>
