<div class="table-responsive">
	<table class="table table-condensed table-hover">
	  <thead>
		<tr>
			<th>#</th>
			<th>Login ID</th>
			<th>Status</th>
			<th>Is Disabled</th>
			<th>Activate Date</th>
		</tr>
	  </thead>
	  <tbody>
		<tr ng-repeat="webuserRow in inquiryCtrl.ngModel.InquiryResult.Data" 
		ng-click="PointedToRecord(webuserRow, $event, this)"
		ng-dblclick="SelectedToRecord(webuserRow, $event, this)">
		  <td>{{webuserRow.UserID}}</td>
		  <td>{{webuserRow.LoginID}}</td>
		  <td>{{webuserRow.Status}}</td>
		  <td>{{webuserRow.IsDisabled}}</td>
		  <td>{{webuserRow.ActivateDate}}</td>
		</tr>
	  </tbody>
	</table>
</div>