            
  <fieldset ng-disabled="submitStatus.lockControl">
			<input hidden name="table" ng-value="table.name">
			<input hidden name="crud-type" ng-value="table.type">
			  <div class="form-group form-entity">
				<label for="FullName" class="col-sm-2 control-label">Full Name</label>
				<div class="col-sm-6" ng-class="{'has-error has-feedback' : cProfile.FullName.$error.required}">
				  <input
					type="text"
					class="form-control"
					id="FullName"
					name="FullName"
					maxlength="{{fields.FullName.length}}"
					ng-required="fields.FullName.null"
					ng-model="create.FullName">
				  <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="cProfile.FullName.$error.required"></span>
				  <span class="help-block">e.g Chan Tai Men</span>
				</div>
				<div class="col-sm-4">
				  <label class="text-danger control-label" ng-show="cProfile.FullName.$error.required">Required</label>
				</div>
			  </div>
			  <div class="form-group form-entity">
				<label for="Gender" class="col-sm-2 control-label">Gender</label>
				<div class="col-sm-6">
                  <select
					class="form-control"
					id="gender"
					name="Gender"
					ng-required="fields.Gender.null"
					ng-model="create.Gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="I">Intersex</option>
                  </select>
				</div>
			  </div>
			  <div class="form-group form-entity">
				<label for="DateOfBirth" class="col-sm-2 control-label">Date of Birth</label>
				<div class="col-sm-6">
				  <input
					type="date"
					class="form-control"
					id="DateOfBirth"
					name="DateOfBirth"
					maxlength="{{fields.DateOfBirth.length || 65536}}"
					ng-model="create.DateOfBirth">
				</div>
			  </div>
			  <div class="form-group form-entity">
				<label for="Address" class="col-sm-2 control-label">Correspondence Address</label>
				<div class="col-sm-6">
				  <input
					type="text"
					class="form-control"
					id="Address"
					name="Address"
					maxlength="{{fields.Address.length || 65536}}"
					ng-required="fields.Address.null"
					ng-model="create.Address">
				</div>
			  </div>
			</fieldset>