<div class="container-fluid">
  <div style="display:none;">
  {{
  	systemFields = [
  		"createDate",
  		"createUser",
  		"lastUpdateDate",
  		"lastUpdateUser",
  		"systemUpdateDate",
  		"systemUpdateUser",
  		"systemUpdateProgram"
  	];
  }}
  </div>
  <div>
    <form class="form-horizontal" role="form">
	<div class="form-group">
	  <div class="col-sm-6 col-sm-offset-2 has-feedback">
	  <input type="text" name="searchInCreate" class="form-control" ng-model="searchInCreate">
	  <span class="glyphicon glyphicon-search form-control-feedback"></span>
	  </div>
	  <div class="col-sm-2">
	    <button type="button" class="btn btn-default" ng-click="view='T'" ng-hide="view=='T'">
	  	<span class="glyphicon glyphicon-list"></span>
	  	<span class="sr-only">Table View</span>
	    </button>
	    <button type="button" class="btn btn-default" ng-click="view='G'" ng-hide="view=='G'">
	  	<span class="glyphicon glyphicon-th-large"></span>
	  	<span class="sr-only">Grid View</span>
	    </button>
	    <button type="button" class="btn btn-default {{table.name}}-refresh-data refresh-data" id="{{table.name}}-refresh-data" 
		ng-click="RefreshData();" 
		ng-disabled="readStatus.disableRefresh"
		>
	  	<span class="glyphicon glyphicon glyphicon-refresh"
			ng-class="{'fa-spin':readStatus.refreshingData}"></span>
	  	<span class="sr-only">Refresh</span>
	    </button>
	  </div>
	  <div class="col-sm-2">
		<div class="panel panel-default">
		<div class="panel-heading" style="padding: 0px;" ng-init="showHidePanel=false">
		<!-- show/hide column -->
	    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="showHidePanel=!showHidePanel" style="width: 100%;">
	  	  Show / Hide Column
	    </button>
		</div>
		<!-- Single button -->
		<div class="panel-body" style="padding:0px;" ng-show="showHidePanel">
		<div>
		  <div
		    ng-repeat="field in dataSchema"
		    ng-init="name=field.Field;label=definition.label[name] ? definition.label[name] : name;">
			  <div ng-if="definition.hidden.indexOf(name) == -1 && systemFields.indexOf(name)==-1">
				<button 
					type="button" 
					class="btn btn-link showOrHideColumn" 
					ng-init="showCol[name] = true" 
					ng-click="showCol[name]=!showCol[name]" 
					ng-class="{hideColOnTable:showCol[name]==false}"
					style="width: 100%;text-align: left;">
				<i class="fa fa-eye" ng-show="showCol[name]"></i>
				<i class="fa fa-eye-slash" ng-show="!showCol[name]"></i>
				{{label}}</button>
			  </div>
		  </div>
		</div>
		</div>
		</div>
	  </div>
  <!-- <pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre>
  <hr/>
  [ <a href="" ng-click="predicate=''">unsorted</a> ] -->
	</div>
	</form>
  </div>
  <div class="table-entities table-responsive" ng-init="view='T'">
    <table class="table">
  	<thead>
  	  <tr>
  		<th 
		ng-repeat="field in dataSchema" 
		ng-init="name=field.Field" 
		ng-if="definition.hidden.indexOf(field.Field) == -1 && systemFields.indexOf(name)==-1"
		ng-show="showCol[field.Field]" 
		style="position: relative;" >
  		  <a href ng-click="sort.predicate=name; sort.reverse=!sort.reverse" style="margin-right: 14px;">{{definition.label[name] || name}}</a>
		  <!--
  		  <span class="glyphicon glyphicon-sort-by-alphabet"
  		  ng-show="sort.predicate==name && !sort.reverse"
  		  style="position: absolute;
  			right: 0px;
  			top: 11.5px;"></span>
  		  <span class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.predicate==name && sort.reverse"
  		  style="position: absolute;
  			right: 0px;
  			top: 11.5px;"></span>
			-->
  		  <span class="glyphicon glyphicon-chevron-up"
  		  ng-show="sort.predicate==name && !sort.reverse"
  		  style="position: absolute;
  			right: 0px;
  			top: 11.5px;"></span>
  		  <span class="glyphicon glyphicon-chevron-down" ng-show="sort.predicate==name && sort.reverse"
  		  style="position: absolute;
  			right: 0px;
  			top: 11.5px;"></span>
  		</th>
  	  </tr>
  	</thead>
  	
  	<tbody ng-hide="view!='T'">
  	  <tr ng-repeat="dataRecord in displayData | filter:searchInCreate | 
  		orderBy:sort.predicate:sort.reverse">
  		<td ng-repeat="field in dataSchema" ng-if="definition.hidden.indexOf(field.Field) == -1 && systemFields.indexOf(name)==-1"
		ng-show="showCol[field.Field]" >{{dataRecord[field.Field]}}</td>
  	  </tr>
  	</tbody>
  	<!--
  	<tfoot>
  	</tfoot>
  	-->
    </table>
  </div>
  <div class="row"
    ng-hide="view!='G'">
	  <form class="form-horizontal col-lg-3 col-md-4 col-sm-6 form-group-sm" role="form"
		ng-repeat="dataRecord in displayData | filter:searchInCreate | 
			orderBy:sort.predicate:sort.reverse">
            <div class="panel panel-default">
            <div class="panel-body">
		<div class="row form-group-sm"
        ng-init="name=field.Field"
        ng-repeat="field in dataSchema"
        ng-if="definition.hidden.indexOf(field.Field) == -1"
		ng-show="showCol[name]"
		>
		  <label class="col-xs-4 control-label">{{definition.label[name] || name}}</label>
		  <div class="col-xs-8">
			<p class="form-control-static">{{dataRecord[field.Field]}}</p>
		  </div>
		</div>
        </div>
        </div>
	  </form>
  </div>
</div>