  <div style="display:none;">
  {{
  	systemFields = [
  		"createDate",
  		"createUser",
  		"lastUpdateDate",
  		"lastUpdateUser",
  		"systemUpdateDate",
  		"systemUpdateUser",
  		"systemUpdateProgram"
  	];
  }}
  </div>
  <fieldset ng-disabled="submitStatus.lockControl">
    <div class="table-entities" ng-init="entityClass='form-control'">
			<input hidden type="text" name="table" ng-value="table.name" >
			<input hidden type="text" name="crud-type" ng-value="table.type" >
	  <div class="table-entity" ng-repeat="field in dataSchema">
	    <div style="display: none;">
		{{
			name = field.Field;
			type = fields[name].type;
			length = fields[name].length;
			isRequire = fields[name].null;
			default = fields[name].default;
			label = definition.label[name] ? definition.label[name] : name;
			textareaCol = 60;
			textareaRow = 10;
			id = "create_"+table.name+"_"+name;
			class = "form-control";
			inputColWidth = "col-sm-6";
		}}
		<!-- ng-model="create[name]" is a must -->
		<!-- ng-model="create.name" will fail -->
		</div>
		  <div class="form-group form-entity" ng-if="definition.hidden.indexOf(name) == -1 && 
		  systemFields.indexOf(name)==-1">
			<label for="{{id}}" class="col-sm-2 control-label">{{label}}</label>
			<!-- int -->
			  <div class="{{inputColWidth}}" ng-if="type=='int'">
				<input
					type="number"
					name="create[{{name}}]"
					maxlength="{{length || 65536}}"
					id = "{{id}}"
					class = "{{class}}"
					ng-model="create[name]"
					ng-value="{{default}}"
					ng-required="isRequire"
					integer>
			  </div>
			<!-- double / decimal / float -->
			  <div class="{{inputColWidth}}" ng-if="type=='double' || type=='decimal' || type=='float'">
				<input
					type="number"
					name="create[{{name}}]"
					maxlength="{{length || 65536}}"
					id = "{{id}}"
					class = "{{class}}"
					ng-model="create[name]"
					ng-value="{{default}}"
					ng-required="isRequire">
			  </div>
			<!-- date / datetime / timestamp / time -->
			  <div class="{{inputColWidth}}" ng-if="type=='date'">
				<input
					type="date"
					name="create[{{name}}]"
					maxlength="{{length || 65536}}"
					id = "{{id}}"
					class = "{{class}}"
					ng-model="tempDate['dateObject'][name]"
					ng-change="convertDateToString(tempDate['dateObject'][name], name, type)"
					ng-value="{{default}}"
					ng-required="isRequire">
				<input
					type = "text"
					name = "create[{{name}}]"
					class = "{{class}}"
					readonly = "readonly"
					ng-model="create[name]"
					>
			  </div>
			  <div class="{{inputColWidth}}" ng-if="type=='datetime' || type=='timestamp'">
				<input
					type="datetime-local"
					id = "{{id}}"
					class = "{{class}}"
					ng-model="tempDate['dateObject'][name]"
					ng-change="convertDateToString(tempDate['dateObject'][name], name, type)"
					ng-value="{{default}}"
					ng-required="isRequire">
				<input
					type = "text"
					name = "create[{{name}}]"
					class = "{{class}}"
					readonly = "readonly"
					ng-model="create[name]"
					>
			  </div>
			  <div class="{{inputColWidth}}" ng-if="type=='time'">
				<input
					type="time"
					id = "{{id}}"
					class = "{{class}}"
					ng-model="tempDate[dateObject][name]"
					ng-change="convertDateToString(tempDate[dateObject][name], name, type)"
					ng-value="{{default}}"
					ng-required="isRequire">
				<input
					type = "text"
					name = "create[{{name}}]"
					class = "{{class}}"
					readonly = "readonly"
					ng-model="create[name]"
					>
			  </div>
			<!-- string [char/varchar/text/mediumtext/longtext] -->
			  <div class="{{inputColWidth}}" ng-if="type=='char' || type=='varchar' ">
				<input 
					type="text"
					name="create[{{name}}]"
					maxlength="{{length || 65536}}"
					id = "{{id}}"
					class = "{{class}}"
					ng-model="create[name]"
					ng-value="{{default}}"
					ng-required="isRequire">
			  </div>
			  <div class="{{inputColWidth}}" ng-if="type=='text' || type=='mediumtext' || type=='longtext'">
				<textarea 
					name="create[{{name}}]"
					maxlength="{{length || 65536}}"
					rows="{{textareaRow}}"
					cols="{{textareaCol}}"
					id = "{{id}}"
					class = "{{class}}"
					ng-model="create[name]"
					ng-value="{{default}}"
					ng-required="isRequire"></textarea>
			  </div>
			<!-- Error Message [required | format incorrect] -->
			  <div class="col-sm-4">
			  <!--
				<button
				type="button"
				class="btn btn-link dropdown-toggle"
				ng-click="tempDate[showResultString][name] = !tempDate[showResultString][name]"
				ng-if="type=='date'||type=='datetime'||type=='timestamp'||type=='time'"
				>
					<i class="fa fa-caret-square-o-down" ng-show="!tempDate[showResultString][name]"></i>
					<i class="fa fa-caret-square-o-up" ng-show="tempDate[showResultString][name]"></i>
				</button>-->
				<label class="text-danger control-label" ng-show="create.name.$error.email">email</label>
				<label class="text-danger control-label" ng-show="create.name.$error.max">max</label>
				<label class="text-danger control-label" ng-show="create.name.$error.maxlength">maxlength</label>
				<label class="text-danger control-label" ng-show="create.name.$error.min">min</label>
				<label class="text-danger control-label" ng-show="create.name.$error.minlength">minlength</label>
				<label class="text-danger control-label" ng-show="create.name.$error.number">number</label>
				<label class="text-danger control-label" ng-show="create.name.$error.pattern">pattern</label>
				<label class="text-danger control-label" ng-show="create.name.$error.required">Required</label>
				<label class="text-danger control-label" ng-show="create.name.$error.url">url</label>
				<label class="text-danger control-label" ng-show="create.name.$error.date">date</label>
				<label class="text-danger control-label" ng-show="create.name.$error.datetimelocal">datetimelocal</label>
				<label class="text-danger control-label" ng-show="create.name.$error.time">time</label>
				<label class="text-danger control-label" ng-show="create.name.$error.week">week</label>
				<label class="text-danger control-label" ng-show="create.name.$error.month">month</label>
				
				<label class="text-danger control-label" ng-show="create.name.$error.integer">Integer only</label>
			  </div>
		  </div>
	  </div>
    </div>
  </fieldset>