<div id="page-wrapper">
            <div class="row">
<!--
                <div class="col-lg-12">
                    <h1 class="page-header">Login, Logout, Redirect</h1>
                </div>
-->
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">&lt;entry&gt; Directive</h2>
                </div>
                <div class="col-lg-12">
                    Handle the crud action for entry form, create the binding between the form control and the form data object.<br><br>
                    Usage<br>
                    As a data form for input record.
                </div>
                <div class="col-lg-12">
            <pre class="language-markup"><code>
                &#x3C;entry ng-model=&#x22;entryForm&#x22; program-id=&#x22;hs02dp&#x22; edit-mode=&#x22;create&#x22;&#x3E;
                  &#x3C;form ng-submit=&#x22;SubmitData()&#x22;&#x3E;
                    &#x3C;fieldset&#x3E;
                      &#x3C;div class=&#x22;form-group&#x22;&#x3E;
                        &#x3C;label for=&#x22;inputDeptCode&#x22;&#x3E;Department Code&#x3C;/label&#x3E;
                        &#x3C;input type=&#x22;text&#x22; class=&#x22;form-control&#x22; id=&#x22;inputDeptCode&#x22; ng-model=&#x22;entryForm.DepartmentCode&#x22;&#x3E;
                      &#x3C;/div&#x3E;
                      &#x3C;div class=&#x22;form-group&#x22;&#x3E;
                        &#x3C;label for=&#x22;inputDesc&#x22;&#x3E;Description&#x3C;/label&#x3E;
                        &#x3C;textarea class=&#x22;form-control&#x22; id=&#x22;inputDesc&#x22; ng-model=&#x22;entryForm.Desc&#x22;&#x3E;&#x3C;/textarea&#x3E;
                      &#x3C;/div&#x3E;
                      &#x3C;div class=&#x22;form-group&#x22;&#x3E;
                        &#x3C;button type=&#x22;submit&#x22; class=&#x22;btn btn-default&#x22;&#x3E;Create&#x3C;/button&#x3E;
                      &#x3C;/div&#x3E;
                    &#x3C;/fieldset&#x3E;
                  &#x3C;/form&#x3E;
                &#x3C;/entry&#x3E;
            </code></pre>
                </div>
                <div class="col-lg-12">
                    ng-model = object<br>
                    prorgam-id = string<br>
                    edit-mode = [create | view | amend | delete]<br>
                </div>
            </div>
            <!-- /.row -->
        </div>