<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">&lt;pageview&gt; Directive</h1>
		</div>
		<div class="col-lg-12">
			Display a data set in pagination view, use this element for viewing records and/or select record.
			<br><br>
			Usage<br>
			- Use this element as a view for selecting one record for amendment.<br>
			- This element may reuse in &lt;editbox&gt; directive, to display foreign key table records and allowed to select one in &lt;entry&gt; form
		</div>
	    <div class="col-lg-12">
	        <pre class="language-markup"><code>
				&#x3C;pageview ng-model=&#x22;deptDataList&#x22; program-id=&#x22;dw01dp&#x22;&#x3E;
				  &#x3C;div class=&#x22;table-responsive&#x22;&#x3E;
				    &#x3C;table class=&#x22;table table-condensed table-hover&#x22;&#x3E;
				      &#x3C;thead&#x3E;
				        &#x3C;tr&#x3E;
				          &#x3C;th&#x3E;Department Code&#x3C;/th&#x3E;
				          &#x3C;th&#x3E;Description&#x3C;/th&#x3E;
				        &#x3C;/tr&#x3E;
				      &#x3C;/thead&#x3E;
				      &#x3C;tbody&#x3E;
				        &#x3C;tr ng-repeat=&#x22;deptRow in pageviewCtrl.ngModel&#x22; 
				        ng-click=&#x22;PointedToRecord(deptRow, $event, this)&#x22;
				        ng-dblclick=&#x22;SelectedToRecord(deptRow, $event, this)&#x22;&#x3E;
				          &#x3C;td&#x3E;{{deptRow.DepartmentCode}}&#x3C;/td&#x3E;
				          &#x3C;td&#x3E;{{deptRow.Description}}&#x3C;/td&#x3E;
				        &#x3C;/tr&#x3E;
				      &#x3C;/tbody&#x3E;
				    &#x3C;/table&#x3E;
				  &#x3C;/div&#x3E;
				&#x3C;/pageview&#x3E;
			</code></pre>
	    </div>
		<div class="col-lg-12">
			ng-model = object<br>
			prorgam-id = string<br>
		</div>
	</div>
	<!-- /.row -->
</div>