<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">&lt;editbox&gt; Directive</h1>
		</div>
		<div class="col-lg-12">
			For the entry form which required foreign key/reference key from others tables. Click the button to to view the pageview for selecting a record. this example will download the pageview template from Templates/screen/hw92nl.html
			<br><br>
			Usage<br>
			- Use inside of entry<br>
			- Use inside of pageview
		</div>
		<div class="col-lg-12">
			<pre class="language-markup"><code>
				&#x3C;editbox ng-model=&#x22;leaveTypeEditBox&#x22; program-id=&#x22;hw92nl&#x22;&#x3E;
				  &#x3C;div class=&#x22;input-group&#x22;&#x3E;
				    &#x3C;input type=&#x22;text&#x22; class=&#x22;form-control&#x22; id=&#x22;inputLeaveTypeCode&#x22; ng-model=&#x22;entryForm.LeaveType&#x22; readonly&#x3E;
				    &#x3C;span class=&#x22;input-group-btn&#x22;&#x3E;
				  &#x9;&#x3C;button type=&#x22;button&#x22; class=&#x22;btn btn-default&#x22; aria-label=&#x22;Edit List&#x22; ng-click=&#x22;OpenPageView()&#x22;&#x3E;
				  &#x9;  &#x3C;i class=&#x22;fa fa-list&#x22; aria-hidden=&#x22;true&#x22;&#x3E;&#x3C;/i&#x3E;
				  &#x9;&#x3C;/button&#x3E;
				    &#x3C;/span&#x3E;
				    &#x3C;input type=&#x22;text&#x22; class=&#x22;form-control&#x22; ng-model=&#x22;leaveTypeEditBox.Desc&#x22; readonly&#x3E;
				  &#x3C;/div&#x3E;
				&#x3C;/editbox&#x3E;
			</code></pre>
		</div>
		<div class="col-lg-12">
			ng-model = object<br>
			prorgam-id = string<br>
			OpenPageView() = method<br>
		</div>
	</div>
	<!-- /.row -->
</div>