<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">&lt;message&gt; Directive</h1>
		</div>
		<div class="col-lg-12">
			Display the message for the entry form, inquire result and process result on the page. By default, the CRUD action result will auto put into the message directive. If you put the message directive on the top and the page too long, you may required to call javascript scroll to the top action after each CRUD response
			<br><br>
			Usage<br>
			- Use inside of entry<br>
			- Use inside of pageview
		</div>
		<div class="col-lg-12">
			<pre class="language-markup"><code>
				&#x3C;message ng-model=&#x22;processMsg&#x22; auto-close&#x3E;
				  &#x3C;div class=&#x22;well well-sm&#x22; ng-if=&#x22;msgCtrl.ngModel.length &#x3E; 0&#x22;&#x3E;
				&#x9;&#x3C;div ng-repeat=&#x22;dspMsg in msgCtrl.ngModel track by $index&#x22; ng-bind=&#x22;dspMsg&#x22;&#x3E;&#x3C;/div&#x3E;
				  &#x3C;/div&#x3E;
				&#x3C;/message&#x3E;</code></pre>
		</div>
		<div class="col-lg-12">
			ng-model = object<br>
			prorgam-id = string<br>
			OpenPageView() = method<br>
		</div>
	</div>
	<!-- /.row -->
</div>