<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">&lt;range&gt; Directive</h1>
		</div>
		<div class="col-lg-12">
			For the report / inquire / process form which required range criteria selction. Click the button to to view the pageview for selecting a record.
			<br><br>
			Usage<br>
			- Use inside of entry<br>
		</div>
		<div class="col-lg-12">
			<pre class="language-markup"><code>
&#x3C;range ng-model=&#x22;deptRange&#x22;&#x3E;
&#x9;&#x3C;label for=&#x22;card_cardID&#x22;&#x3E;Department Range&#x3C;/label&#x3E;
&#x9;&#x3C;div class=&#x22;form-inline&#x22;&#x3E;
&#x9;&#x3C;div class=&#x22;form-group&#x22;&#x3E;
&#x9;  &#x3C;editbox ng-model=&#x22;deptEditBoxStart&#x22; program-id=&#x22;dw01dp&#x22; range=&#x22;start&#x22; range-value=&#x22;{{editboxCtrl.ngModel.DepartmentCode}}&#x22;&#x3E;
&#x9;&#x9;&#x3C;div class=&#x22;input-group&#x22;&#x3E;
&#x9;&#x9;  &#x3C;input class=&#x22;form-control&#x22; type=&#x22;text&#x22; id=&#x22;card_cardID&#x22; ng-model=&#x22;rangeCtrl.ngModel.start&#x22; readonly&#x3E;
&#x9;&#x9;  &#x3C;span class=&#x22;input-group-btn&#x22;&#x3E;&#x3C;button type=&#x22;button&#x22; class=&#x22;btn btn-default&#x22; ng-click=&#x22;OpenPageView()&#x22;&#x3E;&#x3C;i class=&#x22;fa fa-bars&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/button&#x3E;&#x3C;/span&#x3E;
&#x9;&#x9;&#x3C;/div&#x3E;
&#x9;  &#x3C;/editbox&#x3E;
&#x9;&#x3C;/div&#x3E;
&#x9;&#x3C;div class=&#x22;form-group&#x22;&#x3E;
&#x9;  &#x3C;editbox ng-model=&#x22;deptEditBoxEnd&#x22; program-id=&#x22;dw01dp&#x22; range=&#x22;end&#x22; range-value=&#x22;{{editboxCtrl.ngModel.DepartmentCode}}&#x22;&#x3E;
&#x9;&#x9;&#x3C;div class=&#x22;input-group&#x22;&#x3E;
&#x9;&#x9;  &#x3C;input class=&#x22;form-control&#x22; type=&#x22;text&#x22; id=&#x22;card_cardID&#x22; ng-model=&#x22;rangeCtrl.ngModel.end&#x22; readonly&#x3E;
&#x9;&#x9;  &#x3C;span class=&#x22;input-group-btn&#x22;&#x3E;&#x3C;button type=&#x22;button&#x22; class=&#x22;btn btn-default&#x22; ng-click=&#x22;OpenPageView()&#x22;&#x3E;&#x3C;i class=&#x22;fa fa-bars&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/button&#x3E;&#x3C;/span&#x3E;
&#x9;&#x9;&#x3C;/div&#x3E;
&#x9;  &#x3C;/editbox&#x3E;
&#x9;&#x3C;/div&#x3E;
  &#x3C;/div&#x3E;
&#x3C;/range&#x3E;</code></pre>
		</div>
		<div class="col-lg-12">
			ng-model = object<br>
			range = ["start" | "end"]<br>
			range-value = {{ expression }}<br>
		</div>
	</div>
	<!-- /.row -->
</div>