<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">View Department</h1>
		</div>
		<div class="col-lg-12">
			Pageview able to detect two event on the record, pointed to the record (single click), selected to the record (double click / click select).<br>
			User may copy the record to the entry for display based on the above events.
		</div>
		<div class="col-lg-12">
			<div ng-controller="viewDepartmentController as viewDeptCtrl" style="max-width: 750px;">
				<pageview ng-model="deptDataList" program-id="dw01dp">
				  <div class="table-responsive">
					<table class="table table-condensed table-hover">
					  <thead>
						<tr>
						  <th>Department Code</th>
						  <th>Description</th>
						</tr>
					  </thead>
					  <tbody>
						<tr ng-repeat="deptRow in pageviewCtrl.ngModel" 
						ng-click="PointedToRecord(deptRow, $event, this)"
						ng-dblclick="SelectedToRecord(deptRow, $event, this)">
						  <td>{{deptRow.DepartmentCode}}</td>
						  <td>{{deptRow.Description}}</td>
						</tr>
					  </tbody>
					</table>
				  </div>
				</pageview>
				
				<h3>Pointed Department on Pageview</h3>
				<entry ng-model="entryForm" program-id="ds01dp" edit-mode="create">
				  <form ng-submit="SubmitData()">
					<fieldset>
					  <div class="form-group">
						<label for="inputDeptCode">Department Code</label>
						<input type="text" class="form-control" id="inputDeptCode" ng-model="entryCtrl.ngModel.DepartmentCode" readonly>
					  </div>
					  <div class="form-group">
						<label for="inputDescription">Description</label>
						<input type="text" class="form-control" id="inputDescription" ng-model="entryCtrl.ngModel.Description" readonly>
					  </div>
					</fieldset>
				  </form>
				</entry>
				<h3>Selected Department on Pageview</h3>
				<entry ng-model="entryForm2" program-id="ds01dp" edit-mode="create">
				  <form ng-submit="SubmitData()">
					<fieldset>
					  <div class="form-group">
						<label for="inputDeptCode2">Department Code</label>
						<input type="text" class="form-control" id="inputDeptCode2" ng-model="entryCtrl.ngModel.DepartmentCode" readonly>
					  </div>
					  <div class="form-group">
						<label for="inputDescription2">Description</label>
						<input type="text" class="form-control" id="inputDescription2" ng-model="entryCtrl.ngModel.Description" readonly>
					  </div>
					</fieldset>
				  </form>
				</entry>
			</div>
		</div>
	</div>
	<!-- /.row -->
</div>