<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Reusble Screen</h1>
		</div>
		<div class="col-lg-12">
			By default, using the parent to find the program id<br>
			or you may override the screen by prorgam id
		</div>
		<div class="col-lg-12">
			<div ng-controller="reuseController as deleteDeptCtrl" style="max-width: 750px;">
				<h4>Default use parent program id dw01dp to find the screen</h4>
				<pageview ng-model="deptDataList" program-id="dw01dp">
				  <screen></screen>
				</pageview>
				<h4>Override the screen URL as dw02dp by program-id</h4>
				<pageview ng-model="deptDataList2" program-id="dw01dp">
				  <screen program-id="dw02dp"></screen>
				</pageview>
			</div>
		</div>
	</div>
	<!-- /.row -->
</div>